#queries {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#queries td, #queries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#queries tr:nth-child(even){background-color: #f2f2f2;}

#queries tr:hover {background-color: #d6ebf8;}

#queries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #52687f;
    color: white;
}

#indextab {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

#indextab td, #queries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#indextab tr:nth-child(even){background-color: #f2f2f2;}

#indextab tr:hover {background-color: #d6ebf8;}

#indextab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #52687f;
    color: white;
}